
.login-box {
    
    text-align: center;
    margin: 0 auto;
    margin-top: 15%;
    background: rgb(#13232f,.7);
    padding: 20px 50px ;
    width: 500px;
}
::placeholder { color: #fff; }

 .form .item input {
    width: 200px; 
    border: 0; 
    border-bottom: 5px solid #0070cc; 
    font-size: 18px; 
    background: #ffffff00; 
    
    padding: 5px 10px; 
}
#login-box .form .item i {
    
    font-size: 18px;
}
.boton {
    border: 0; 
    width: 150px; 
    height: 30px;
    margin-top: 18px; 
    font-size: 18px; 
    color: white;
    border-radius: 25px; 
    background-color: #0070cc; 
}
