<!DOCTYPE html>

<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
<html>

<body>
    <img src="../../assets/login.png" class="img-fluid" style="position: absolute; right: 0; top: 0;  opacity: 0.75; background-attachment: fixed; background-size: 100% 100%;">
    <div class="menu">
        <div class="user">
            <i class="fa fa-user fa-4x" aria-hidden="true"></i>
        </div>
        <p></p>
        <ul>
            <li><a routerLink="/request-usuario">Send request<i class="fa fa-paper-plane" aria-hidden="true"></i></a></li>
            <li><a routerLink="/edit-usuario">Edit user information <i class="fa fa-address-card" aria-hidden="true"></i></a></li>
            <li class="salir"><a routerLink="/login">Exit<i class="fa fa-sign-out" aria-hidden="true"></i></a></li>


        </ul>    
    </div>

</body>