<!DOCTYPE html>

<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
<html>

<body>
    <div class="menu">
        <div class="user">
            <i class="fa fa-user fa-4x" aria-hidden="true"></i>
        </div>
        <p></p>
        <ul>
            <li><a routerLink="/index-admin">Table<i class="fa fa-home" aria-hidden="true"></i></a></li>
            <li><a routerLink="/edit-admin">Edit user information <i class="fa fa-address-card" aria-hidden="true"></i></a></li>
            <li class="salir"><a routerLink="/login">Exit<i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
        </ul>    
    </div>




    <div class="contact_form">

        <div class="formulario">      
          <h1>Send request</h1>
            <h3>Escríbenos y en breve los pondremos en contacto contigo</h3>
    
    
              <form [formGroup]="petitionForm" (ngSubmit)="onPetition(petitionForm.value)" id="contactForm" >       
    
                
                    <p>
                      <label for="nombre" class="colocar_nombre">Identification
                        <span class="obligatorio">*</span>
                      </label>
                        <input type="text" formControlName="client_id" id="nombre" required="obligatorio" placeholder="write your identification">
                    </p>
                  
                    <p>
                      <label for="email" class="colocar_email">Email
                        <span class="obligatorio">*</span>
                      </label>
                        <input type="email" formControlName="email" id="email" required="obligatorio" placeholder="write your Email">
                    </p>
                
                  
                    <p>
                      <label for="mensaje" class="colocar_mensaje">describe your problem
                        <span class="obligatorio">*</span>
                      </label>                     
                                        <textarea formControlName="des" class="texto_mensaje" id="mensaje" required="obligatorio" placeholder="describe your problem"></textarea> 
                                    </p>                    
                  
                    <button type="submit" name="enviar_formulario" id="enviar"><p>Send</p></button>
    
                              
                
              </form>
        </div>  
      </div>
    
</body>
