<!DOCTYPE html>

<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
<html>

<body>
   
    <div class="menu">
        <div class="user">
            <i class="fa fa-user fa-4x" aria-hidden="true"></i>
        </div>
        <p></p>
        <ul>
            <li><a routerLink="/request-usuario">Send request<i class="fa fa-paper-plane" aria-hidden="true"></i></a></li>
            <li><a routerLink="/edit-admin">Edit information <i class="fa fa-address-card" aria-hidden="true"></i></a></li>
            <li class="salir"><a routerLink="/login">Exit<i class="fa fa-sign-out" aria-hidden="true"></i></a></li>


        </ul>    
    </div>
    <table class="content-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>State</th>
                <th>Create Time</th>
                <th>Id Client</th>
                <th>Plataform</th>
                <th><input type="text" name="introducir_nombre" id="nombre" required="obligatorio" placeholder="search" ><button><i class="fa fa-search" aria-hidden="true"></i></button></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Sara</td>
                <td>23</td>
                <td>Ventas a mayoristas</td>
            </tr>
            <td>2</td>
            <td>Ernesto</td>
            <td>13</td>
            <td>Cuentas empresariales</td>
            <tr>
                <td>3</td>
                <td>Nuria</td>
                <td>11</td>
                <td>Cuentas empresariales</td>
            </tr>
        </tbody>
    </table>


</body>








