.menu {
    
  color: #fff;
    background-color: #0070cc;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
    padding-top: 0%;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li a {
    display: block;
    color: #fff;
    padding: 8px 0 8px 16px;
    text-decoration: none;
    margin: 5px;
  
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}
.active {
    background-color: #000;
    color: white;
}
.salir{
   padding-block-end: 0px; 
}
.user{
    margin: 2px;
    padding-top: 9px;
    padding-left: 15px;
}










body{
  
    font-family: 'Noto Sans', sans-serif;
    background-color: #fff; 
  }
  
  
  .contact_form{  
    width: 460px; 
    height: auto;
    margin: 0px auto;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color: #fff; 
    padding-left: 30px; 
  }
  
  
  input{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #0070cc; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
  }
  .search{
    width: 608px;
  }
  
  textarea{
    background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #0070cc; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
  }
  
  
  label{
    display: block; 
    float: center;  
  }
  
  
  button{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: #0070cc; 
    border-color: #0070cc; 
    border-style: solid; 
    border-radius: 10px;  
    width: 420px;   
    cursor: pointer;
  }
  
  
  button p{
    color: #fff; 
  }
  
  
  span{
    color: #0070cc; 
  }
  
  
  .aviso{
    font-size: 13px;  
    color: #0e0e0e;  
  }
  
  
  h1{
    font-size: 39px;  
    text-align: letf; 
    padding-bottom: 20px; 
    color: #0070cc;
  }
  
  
  h3{
    font-size: 16px; 
    padding-bottom: 30px;
    color: #0e0e0e;   
  }
  
  
  p{
    font-size: 14px; 
    color: #0e0e0e; 
  }
  
  
  ::-webkit-input-placeholder {
   color: #a8a8a8;
  }
  
  
  ::-webkit-textarea-placeholder {
   color: #a8a8a8;
  }
  
  
  .formulario input:focus{
    outline:0;
    border: 1px solid #000;
  }
  
  
  .formulario textarea:focus{
    outline:0;
    border: 1px solid #000;
  }
  
  .btn{
    width: 40px;
    background-color: #0070cc;
    color: #fff;
  }